.mainPageCartDiv {
    width: 80%;
    margin: 0 auto;
}

.cartDiv {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    width: 60%;
}

.cartMapped {
    display: flex;
    height: 120px;
    border-top: .5px solid lightgray;
}

.cartProductImg {
    margin-left: 2%;
}

.cartPrice {
    margin-left: 2%;
}

.cartNameH4 {
    font-weight: lighter;
}

.deleteProduct {
    margin-right: 2%;
    margin-left: 2%;
    cursor: pointer;
    color: gray;
}

.cartPrice {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: .5%;
}

.mainCartDiv {
    display: flex;
}

.orderSummary {
    width: 35%;
    margin-left: 5%;
}

.delivery {
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
    margin: auto 0;
}

.freeDelivery {
    color: red;
}

.orderSummary>p {
    margin: 0;
    margin-bottom: 10%;
}

.delivery>p {
    /* margin: 0px; */
    margin-bottom: 10%;
    margin: 5% 0;
}

.tax {
    display: flex;
    justify-content: space-between;
    border-bottom: .5px solid lightgray;
}

.subtotal {
    display: flex;
    justify-content: space-between;
    border-top: .5px solid lightgray;
}

.total {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}

.cartSubtotalHeader {
    margin-left: 2%;
}
.cartCheckout {
    background-color: rgb(204,0,0);
    color: rgb(255,255,255);
    border: none;
    font-weight: bold;
    height: 50px;
    border-radius: 6px;
    width: 100%;
}