.navDiv {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(204,13,0);
    height: 50px;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 10;
}
.navH4{
    width: 100px;
    color: rgb(246,239,239);
}
.navBtn{
    margin-right: 1%;
    margin-left: 1.5%;
}
.cartImg{
    width: 40px;
    height: 23px;
    /* margin-right: 5%; */
}
#cartImgDiv {
    /* margin-right: 3%; */
}
#loginH4 {
    margin-left: 2%;
}