.homepageMainDiv{
    display: flex;
    justify-content: center;
}
.departments{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
    width: 50%;
}
.departmentDiv{
    width: 50%;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
}
    
.departmentImg{
    max-width:160px;
    max-height:155px;
    border-radius: 45%;
    width: auto;
    height: auto;
    margin: 0 auto;
  }
  .departmentH4{
    color: rgb(57,61,57);
    width: auto;
    display: flex;
    justify-content: center;
  }